<html>
  <body bgcolor="cyan">
    <form method="POST" action="">
      <h1>Inserisci la nuova categoria</h1>
      <br />
      <label for="category_name">Nome</label>
      <input type="text" name="category_name" /> <br />

      <label for="category_description">Descrizione</label
      ><input type="text" name="category_description" /> <br />

      <label for="category_color">Colore</label
      ><input type="text" name="category_color" /> <br />

      <input type="submit" />
    </form>
  </body>
</html>
